<!--p class="status good" ng-show-auth="login">Hello! You are logged in.</p-->
<div class="page-container">


<!--div class="alert alert-warning" ng-show-auth="logout">
  Please log in!
</div-->

<div class="alert alert-danger" ng-show-auth="error">
  {{auth.error}}
</div>

<h1>Sunshine feed: <small>comparing light levels</small></h1>

<div class="input-group grouped">
  <label class="sr-only" for="datasourceFilter">Datasource filter</label>
  <span class="input-group-addon" tooltip="Sensors to get data from">Datasources:</span>
  <input type="text" class="form-control" ng-model="ghDeviceNames" type="text" placeholder="List of datasources..." id="datasourceFilter">
</div>

<!--div align="right"><span ng-show="ghDataOffset>0">{{endDate}}</span><span ng-show="ghDataOffset==0">now</span></div-->

<div>
<gh-visualization id="demo" devices="ghDeviceNames" dataoffset="ghDataOffset" steptime="ghStepSize" datapoints="ghDataPoints"></gh-visualization>
</div>


<div class="grouped">

<div class="panel panel-default">
<div class="collapseableHeading panel-heading" ng-click="collapsedSettings = !collapsedSettings">
	<h3 class="panel-title">
	<span class="glyphicon glyphicon-chevron-down" ng-show="!collapsedSettings"></span>
	<span class="glyphicon glyphicon-chevron-right" ng-show="collapsedSettings"></span>
	&nbsp;&nbsp;Time Settings</h3>
</div>

<div collapse="collapsedSettings" class="panel-body">
	<div id='slider-container'> 

		<div class="row">
			<div class="col-sm-4 col-sm-push-8" >
				<div ng-model="dt" ng-change="changedTime()" tooltip="Change time" tooltip-placement="right">
					<timepicker hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
				</div>
			</div>
			<div class="input-group col-sm-8 col-sm-pull-4 timepicker-align" style="padding-left: 15px;">
				<span class="input-group-addon" tooltip="Showing values until this date">End date:</span>
		        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="dt" is-open="calOpened" ng-required="true" close-text="Close" datepicker-options="dateOptions" />
		        <span class="input-group-btn">
		        	<button class="btn btn-default" ng-click="calScrollLatest($event)" tooltip="Find latest sensor values"><i class="glyphicon glyphicon-step-forward"></i></button>
		        	<button class="btn btn-default" ng-click="calOpen($event)" tooltip="Change date"><i class="glyphicon glyphicon-calendar"></i></button>		        	
		        </span>
		    </div>		
		</div>

		<div>
			<slider
			    ng-model="ghMinSlider"
			    ng-mouseup = "updateStepSeconds()"
			    floor="0"
			    ceiling="50"
			    step="{{mstep}}"
			    precision="0"
			    stretch="3"
			    translate="translateMinTime">
			</slider>
			<slider
			    ng-model="ghHourSlider"
			    ng-mouseup = "updateStepSeconds()"
			    floor="0"
			    ceiling="23"
			    step="1"
			    precision="0"
			    stretch="3"
			    translate="translateHourTime" id="medium">
			</slider>
			<slider
			    ng-model="ghDaySlider"
			    ng-mouseup = "updateStepSeconds()"
			    floor="0"
			    ceiling="14"
			    step="1"
			    precision="0"
			    stretch="3"
			    translate="translateDayTime" id="heavy">
			</slider>
		</div>

	<p>Showing <em>{{ghDataPoints}}</em> values with a <em>{{ghStepSize}}</em> second time interval 
	<span class="glyphicon glyphicon-flash"></span> Time offset: <em>{{ghDataOffset}}</em> minutes
	</p>

	</div>
</div>
</div>

Available sensors:
<b><span ng-repeat="sensor in sensors">{{sensor.name}}<span ng-show=" ! $last ">, </span></span ></b>
</div>

</div>

<div class = "footer">
<p>Open <a ng-href="{{FBURL}}">Forge</a> to check firebase values</p>
</div>

