<h2>Home</h2>

<!--p class="status good" ng-show-auth="login">Hello! You are logged in.</p-->
<p class="status" ng-show-auth="logout">Please log in!</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<div>
<p>Sensor filter: <input ng-model="ghFilter" type="text" /></p>
</div>


<!--ul id="readings" ng-show="readings">
    <li ng-repeat="reading in readings | orderByPriority | reverse">{{reading.date}}, {{reading.value}}</li>
</ul-->

<b>{{rawData}}</b>

<p/>

<gh-visualization id="demo" devices="ghDeviceNames" dataoffset="ghDataOffset" steptime="ghStep" datapoints="ghDataPoints"></gh-visualization>


<div id='slider-container'>
<!--slider
    ng-model="ghSecSlider"
    floor="0"
    ceiling="59"
    step="1"
    precision="0"
    stretch="3"
    translate="translateSecTime"
    ng-change="updateSec">
</slider-->
<slider
    ng-model="ghMinSlider"
    floor="0"
    ceiling="59"
    step="1"
    precision="0"
    stretch="3"
    translate="translateMinTime">
</slider>
<slider
    ng-model="ghHourSlider"
    floor="0"
    ceiling="23"
    step="1"
    precision="0"
    stretch="3"
    translate="translateHourTime" id="medium">
</slider>
<slider
    ng-model="ghDaySlider"
    floor="0"
    ceiling="30"
    step="1"
    precision="0"
    stretch="3"
    translate="translateDayTime" id="heavy">
</slider>
</div>

<div class = "footer">

<p>Time between steps (s): <input placeholder="60000..." ng-model="stepSize" type="text" size="7" disabled/> 
Data points: <input placeholder="400..." ng-model="dataPoints" type="text" size="7" disabled/>
Data offset (min): <input placeholder="0..." ng-model="dataOffset" type="text" size="7"/>
</p>

Available sensors:
<b><span ng-repeat="sensor in sensors">{{sensor.name}}<span ng-show=" ! $last ">, </span></span ></b>
</div>

<p>Open <a ng-href="{{FBURL}}">Forge</a> to check firebase values</p>

